/* AboutPage.css */

.about-container {
    display: flex;
    justify-content: center;
    padding: 50px;
    align-items: center;
  }
  
  .image-holder {
    max-width: 400px;
    margin-right: 30px;
    
  }
  
  .image-holder img {
    width: 100%;
    border-radius: 8px;
    height: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  
  .text-content {
    max-width: 500px;
    text-align: justify;
  }
  
  strong {
    color: #483d8b; /* Dark slate blue */
    /* margin-bottom: 20px; */
  }
  
  p {
    color: #555;
    font-size: 16px;
    line-height: 1.2;
  }
  